*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'balqis';
  src: url('../fonts/balqis.woff2') format('woff2'),
       url('../fonts/balqis.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap; /* ускоряет скорость загрузки шрифта*/
}

@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
       url('../fonts/RobotoCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed-LightItalic';
  src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
       url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
       url('../fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  color: #000;
  font-family: 'RobotoCondensed-Light';
  font-size: 18px;
  line-height: 21px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-section {
  margin: 200px auto;
  max-width: 1920px;
}

.title {
  font-family: 'balqis';
  font-size: 96px;
  line-height: 128px;
  color: #E2AB3F;
  font-weight: 300;
  margin-bottom: 100px;
}

.title span {  
  font-family: 'RobotoCondensed-LightItalic';
  font-size: 24px;
  line-height: 28px;
  color: #000;
  display: block;
  margin-top: -30px;
  margin-left: 185px;
}

.header {
  background-image: url(../images/header.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  font-size: 24px;
  line-height: 28px;
}

.menu__list-item {
  display: inline-block;
  font-family: 'RobotoCondensed-Regular';
}

.menu__list-item + .menu__list-item {
  margin-left: 52px;
}

.menu__list-link:hover {
  text-decoration: underline;
}

.header__phone {
  position: relative;
  padding-left: 40px;
}

.header__phone::before {
  content: "";
  position: absolute;
  background-image: url('../images/phone.svg');
  width: 30px;
  height: 30px;
  left: 0;
}

.header__title {
  padding-top: 152px;
  font-size: 250px;
  line-height: 334px;
  font-weight: 300;
  font-family: 'balqis';
  text-align: center;
}

.header__title span {
  display: block;
  margin-top: -66px;
  margin-right: 85px;
  text-align: right;
  font-family: 'RobotoCondensed-LightItalic';
  font-size: 56px;
  line-height: 66px;
}

.slider-container {
  position: absolute;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

.fairy-tale__slider {
  width: 50%;
}

.fairy-tale__inner,
.our-trip__inner {
  position: relative;
}

.fairy-tale__body {
  width: 50%;
  margin-left: auto;
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.fairy-tale__body-title {
  font-family: 'RobotoCondensed-Regular';
}

.fairy-tale__text {
  padding: 10px 0;
}

.our-trip__title span{
  margin-left: 240px;
}

.our-trip__slider {
  width: 50%;
  margin-left: auto;
}

.our-trip__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}

.our-trip__list {
  margin: 5px 0;
  font-size: 24px;
  line-height: 28px;
}

.our-trip__list li:first-child {
  margin-bottom: 20px;
  font-family: 'RobotoCondensed-Regular';
}

.out-trip__btn {
  font-family: 'RobotoCondensed-Light';
  font-size: 24px;
  line-height: 28px;
  border: 1px solid #e2ab3f;
  padding: 11px 53px;
}

.our-trip__content {
  width: 50%;
  padding-right: 55px;
}

.hotel__title span {
  margin-left: 130px;
}

.hotel__inner {
  display: flex;
}

.hotel__images {
  margin-right: 100px;
}

.hotel__text {
  margin-bottom: 20px;
}

.hotel__gallery {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel__gallery a {
  margin-top: 50px;
}

.price__title span {
  margin-left: 120px;
}

.price__inner {
  display: flex;
}

.price__on {
  margin-right: 70px;
  max-width: 530px;
}

.price__off-title,
.price__on-title {
  margin-bottom: 50px;
  line-height: 28px;
  font-size: 24px;
  font-family: 'RobotoCondensed-Regular';
}

.price__list-item {
  margin-bottom: 20px;
}

.price {
  background-image: url(../images/bullons.png);
  background-repeat: no-repeat;
  background-position: center right 20%;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contacts__date,
.contacts__price {
  font-family: 'balqis';
  font-size: 96px;
  line-height: 100px;
  color: #E2AB3F;
}

.contacts__date span,
.contacts__price span {
  font-family: 'RobotoCondensed-LightItalic';
  font-size: 24px;
  line-height: 28px;
  color: #000;
  display: block;
  margin-left: 185px;
  margin-top: -10px;
}

..contacts__date {
  margin-bottom: 20px;
}

.contacts__price {
  margin-left: 120px;
}

.contacts__form {
  max-width: 383px;
  margin: 0 auto;
}

.contacts__form-title {
  font-family: 'RobotoCondensed-Regular';
  line-height: 28px;
  font-size: 24px;
  margin-bottom: 50px;
}

.contacts__form-input {
  font-family: 'RobotoCondensed-Light';
  margin-bottom: 20px;
  border: 1px solid #E2AB3F;
  height: 50px;
  width: 100%;
  display: block;
  padding: 0 31px;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.contacts__form-input::placeholder {
  color: #000;
}

.contacts__form-btn {
  font-family: 'RobotoCondensed-Light';
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #E2AB3F;
  padding: 11px 45px;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.footer {
  background-image: url(../images/footer-main.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding-top: 96px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-family: 'balqis';
  line-height: 115px;
  font-size: 86px;
}

.footer__contacts {
  width: 356px;
  height: 527px;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}

.footer__contacts-title {
  font-family: 'balqis';
  font-size: 86px;
  line-height: 115px;
  color: #E2AB3F;
  margin-bottom: 50px; 
  padding-top: 50px;
}

.footer__phone,
.footer__email {
  display: inline-block;
  padding-left: 40px;
  position: relative;
}

.footer__phone::before,
.footer__email::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -5px;
}

.footer__phone::before {
  background-image: url(../images/footer-phone-icon.svg);
}

.footer__email::before {
  background-image: url(../images/footer-mail-icon.svg);
}

.footer__phone {
  margin-bottom: 20px;
}

.footer__social {
  margin-top: 30px;
}

.footer__social a {
  margin: 0 7px;
}

@media(max-width: 1240px) {
  .header__title {
    font-size: 180px;
    line-height: 220px;
  }

  .header__title span {
    margin-top: -50px;
    font-size: 50px;
  }

  .page-section {
    margin: 100px auto;
  }

  .title {
    margin-bottom: 50px;
  }

  .price {
    background-position: center right 5%;
  }
}

@media(max-width: 1189px) and (min-width: 992px) {
  .hotel__gallery {
    justify-content: space-around;
  }

  .hotel__gallery a {
    margin-top: 10px;
  }

  .hotel__gallery img {
    width: 230px;
  }

  .hotel__images {
    margin-right: 50px;
  }
}

@media(max-width: 991px) {
  .page-section {
    margin: 100px 0;
  }

  .fairy-tale__container,
  .our-trip__container {
    position: static;
  }

  .fairy-tale__slider,
  .our-trip__slider {
    width: 100%;
  }

  .our-trip__slider {
    margin-top: 30px;
  }

  .our-trip__slider img,
  .fairy-tale__slider img {
    width: 100%;
  }

  .fairy-tale__body,
  .our-trip__body {
    width: 100%;
    padding-left: 0;
  }

  .our-trip__body {
    display: contents;
  }

  .our-trip__list {
    width: 45%;
    display: inline-block;
    margin-bottom: 30px;
  }

  .hotel__inner {
    display: flex;
    flex-direction: column;
  }

  .hotel__inner img {
    width: 100%;
    margin-bottom: 15px;
  }

  .hotel__gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .hotel__gallery a {
    flex-basis: 20%;
    margin: 5px;
  }

  .price {
    background-image: url(../images/small-bullon.svg);
    background-position: top 10% right 10%;
  }

  .contacts__inner {
    flex-direction: column;
  }

  .contacts__inner img {
    width: 100%;
    margin-top: 20px;
  }

  .contacts__info {
    padding-right: 25px;
  }

  .footer {
    padding-top: 50px;
  }

  .footer__inner {
    flex-direction: column-reverse;
  }

  .footer__contacts {
    height: 400px;
    width: 270px;
  }

  .footer__contacts-title {
    font-size: 50px;
    padding-top: 5px;
    margin-bottom: 0;
  }
}

@media(max-width: 840px) {
  .header__title {
    font-size: 120px;
    line-height: 150px;
    padding-top: 100px;;
  }

  .header__title span {
    margin-top: -44px;
    font-size: 30px;
  }

  .header__top {
    font-size: 20px;
    line-height: 24px;
  }

  .header__phone::before {
    width: 25px;
    height: 25px;
    background-size: cover;
  }

  .out-trip__btn {
    display: block;
    text-align: center;
  }
}

@media(max-width: 600px) {
  .header__top {
    justify-content: center;
    flex-wrap: wrap;
  }

  .menu {
    width: 100%;
    margin: 0 0 25px;
    text-align: center;
  }

  .header__title {
    font-size: 80px;
    line-height: 120px;
  }

  .header__title span{
    font-size: 22px;
    margin-top: -46px;
    margin-right: 15px;
  }

  .fairy-tale__item img{
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }

  .page-section {
    margin: 50px 0;
  }

  .title {
    margin-bottom: 25px;
    font-size: 60px;
    line-height: 110px;
  }

  .our-trip__title {
    text-align: center;
  }


  .fairy-tale__title span {
    margin-left: 110px;
  }

  .our-trip__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .our-trip__list {
    display: block;
    margin-bottom: 30px;
    width: 100%;
  }

  .hotel__title span,
  .our-trip__title span {
    margin-left: 100px;
  }

  .hotel__gallery a {
    flex-basis: 40%;
    margin: 5px;
  }

  .price__inner {
    flex-direction: column;
  }

  .price__off-title,
  .price__on-title {
    margin-bottom: 25px;
  }

  .contacts__inner {
    display: block;
  }

  .contacts__inner img {
    margin-top: 25px;
  }

  .contacts__info {
    margin-bottom: 20px;
  }

  .contacts__form-title {
    margin-bottom: 25px;
  }

  .footer__text {
    font-size: 50px;
  }

  .contacts__price span {
    margin-left: 50px;
  }

  .our-trip__title span {
    margin-left: 220px;
  }
}

@media(max-width: 370px) {
  .header__top {
    justify-content: center;
    flex-wrap: wrap;
  }

  .menu {
    width: 100%;
    margin: 0 0 25px;
    text-align: center;
  }

  .header__title {
    font-size: 60px;
    line-height: 100px;
  }

  .header__title span{
    font-size: 18px;
    margin-top: -46px;
    margin-right: 0;
  }

  .menu__list-item + .menu__list-item {
    margin-left: 18px;
  }

  .title,
  .contacts__date,
  .contacts__price {
    font-size: 50px;
  }

  .contacts__price {
    margin-left: 50px;
  }

  .contacts__date {
    margin-left: 10px;
  }

  .contacts__date span,
  .contacts__price span {
    margin-left: 80px;
    margin-top: -35px;
  }

  .title span,
  .contacts__date span,
  .contacts__price span {
    font-size: 20px;
  }

  .fairy-tale__title span,
  .hotel__title span {
    margin-left: 90px;
  }

  .our-trip__title span {
    margin-left: 125px;
  }

  .out-trip__btn {
    padding: 11px 40px;
    display: block;
  }

  .our-trip__container {
    padding-left: 25px !important;
    padding-right: 25px;
  }

  .hotel__gallery {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .price__off-title,
  .price__on-title {
    margin-bottom: 15px;
  }

  .price__title span {
    margin-left: 50px;
  }

  .contacts__form-title {
    font-size: 19px;
    font-weight: 500;
  }

  .contacts__info {
    text-align: left;
  }

  .footer__text {
    font-size: 42px;
  }
}

@media(max-width: 840px) and (min-width: 601px) {
  .our-trip__list {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media(max-width: 600px) and (min-width: 499px) {
  
  .our-trip__list {
    padding-left: 150px;
  }
}


